{% extends "base.html" %} {% load static %} {% block body %}

<!-- Start Hero Section -->
<div class="hero">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5">
        <div class="intro-excerpt">
          <h1>Modern Finance <span clsas="d-block">Consulting</span></h1>
          <p class="mb-4">
            The modern banking system enables seamless digital transactions,
            secure financial services, and real-time access to global markets,
            powered by technology and innovation.
          </p>
          <p>
            <a href="" class="btn btn-secondary me-2">Invest Now</a
            ><a href="#" class="btn btn-white-outline">Explore</a>
          </p>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="hero-img-wrap">
          <img src={% static "images/Banknote.png" %} class="img-fluid w-75" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Hero Section -->

<!-- Start Product Section -->
<div class="product-section">
  <div class="container">
    <div class="row">
      <!-- Start Column 1 -->
      <div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
        <h2 class="mb-4 section-title">Consulted by Finance Experts</h2>
        <p class="mb-4">
          Guided by finance experts, the modern banking system ensures optimized
          financial solutions, strategic investments, and secure digital
          operations for global markets.
        </p>
        <p><a href="Invest.html" class="btn">Explore</a></p>
      </div>
      <!-- End Column 1 -->

      <!-- Start Column 2 -->
      <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
        <a class="product-item" href="cart.html">
          <img src={% static "images/monetization.png" %} class="img-fluid
          product-thumbnail" />
          <h3 class="product-title">Money Transfer</h3>
          <strong class="product-price">$50.00</strong>

          <span class="icon-cross">
            <img src={% static "images/right-arrow.png" %} class="img-fluid" />
          </span>
        </a>
      </div>
      <!-- End Column 2 -->

      <!-- Start Column 3 -->
      <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
        <a class="product-item" href="cart.html">
          <img src={% static "images/finance app-bro.png" %} class="img-fluid
          product-thumbnail" />
          <h3 class="product-title">Check Balance</h3>
          <strong class="product-price">$78.00</strong>

          <span class="icon-cross">
            <img src={% static "images/right-arrow.png" %} class="img-fluid" />
          </span>
        </a>
      </div>
      <!-- End Column 3 -->

      <!-- Start Column 4 -->
      <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
        <a class="product-item" href="cart.html">
          <img src={% static "images/E-Wallet-bro.png" %} class="img-fluid
          product-thumbnail" />
          <h3 class="product-title">History</h3>
          <strong class="product-price">$43.00</strong>

          <span class="icon-cross">
            <img src={% static "images/right-arrow.png" %} class="img-fluid" />
          </span>
        </a>
      </div>
      <!-- End Column 4 -->
    </div>
  </div>
</div>
<!-- End Product Section -->

<!-- Start We Help Section -->
<div class="we-help-section">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-7 mb-5 mb-lg-0">
        <div class="imgs-grid">
          <div class="grid grid-1">
            <img src={% static "images/finance-technology.jpg" %}
            alt="Untree.co" />
          </div>

          <div class="grid grid-3">
            <img src={% static "images/careers.jpg" %} alt="Untree.co" />
          </div>
        </div>
      </div>
      <div class="col-lg-5 ps-lg-5">
        <h2 class="section-title mb-4">
          We Help You Make financial decision Smartly
        </h2>
        <p>
          Empowering you to make smart financial decisions with expert insights
          and innovative strategies.
        </p>

        <ul class="list-unstyled custom-list my-4">
          <li>
            Access to expert insights helps you make well-informed choices,
            reducing financial risks.
          </li>
          <li>
            Innovative strategies are tailored to your unique financial goals
            and needs, ensuring personalized results.
          </li>
          <li>
            Expert guidance helps you identify and mitigate potential financial
            risks, safeguarding your investments.
          </li>
          <li>
            Smart financial tools streamline decision-making, allowing you to
            optimize time and resources effectively.
          </li>
        </ul>
        <p><a herf="#" class="btn">Explore</a></p>
      </div>
    </div>
  </div>
</div>
<!-- End We Help Section -->

<!-- Start Popular Product -->
<div class="popular-product">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
        <div class="product-item-sm d-flex">
          <div class="thumbnail">
            <img src={% static "images/Postgresql_logo.svg" %} alt="Image"
            class="img-fluid" />
          </div>
          <div class="pt-3">
            <h3>PostgreSQL</h3>
            <p>
              A powerful, open-source, relational database management system
              (RDBMS) with full ACID compliance, offering advanced SQL querying
              and extensibility for structured data storage.
            </p>
            <p><a href="#">Read More</a></p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
        <div class="product-item-sm d-flex">
          <div class="thumbnail">
            <img src={% static "images/Mongodb_logo.png" %} alt="Image"
            class="img-fluid" />
          </div>
          <div class="pt-3">
            <h3>MongoDB</h3>
            <p>
              A NoSQL, document-oriented database that stores data in JSON-like,
              flexible schema, making it ideal for unstructured or
              semi-structured data and scalable applications.
            </p>
            <p><a href="#">Read More</a></p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
        <div class="product-item-sm d-flex">
          <div class="thumbnail">
            <img src={% static "images/redis-logo.png" %} alt="Image"
            class="img-fluid" />
          </div>
          <div class="pt-3">
            <h3>Redis</h3>
            <p>
              An in-memory key-value store known for high performance,
              low-latency operations, often used for caching, real-time
              analytics, and session management.
            </p>
            <p><a href="#">Read More</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Popular Product -->

{% endblock %}
