{% extends "base.html" %} {% block body %} {% load static %}
<!-- Start Hero Section -->
<div class="hero center">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5">
        <div class="intro-excerpt">
          <h1>Services</h1>
          <p class="mb-4">
            Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet
            velit. Aliquam vulputate veor tempor tristique.
          </p>
          <p>
            <a href="" class="btn btn-secondary me-2">Invest Now</a
            ><a href="#" class="btn btn-white-outline">Explore</a>
          </p>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="hero-img-wrap">
          <img src={% static "images/Saving money-amico.png" %} class="img-fluid
          w-50 mb-5" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Hero Section -->

<!-- Start Why Choose Us Section -->
<div class="why-choose-section">
  <div class="container">
    <div class="row my-5">
      <div class="col-6 col-md-6 col-lg-3 mb-4">
        <div class="feature">
          <div class="icon">
            <img src={% static "images/online-banking.png" %} alt="Image"
            class="imf-fluid" />
          </div>
          <h3>Fast &amp; Free Shipping</h3>
          <p>
            Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet
            velit. Aliquam vulputate.
          </p>
        </div>
      </div>

      <div class="col-6 col-md-6 col-lg-3 mb-4">
        <div class="feature">
          <div class="icon">
            <img src={% static "images/finance.png" %} alt="Image"
            class="imf-fluid" />
          </div>
          <h3>Easy to Manage Finance</h3>
          <p>
            Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet
            velit. Aliquam vulputate.
          </p>
        </div>
      </div>

      <div class="col-6 col-md-6 col-lg-3 mb-4">
        <div class="feature">
          <div class="icon">
            <img src={% static "images/finance-security.png" %} alt="Image"
            class="imf-fluid" />
          </div>
          <h3>24/7 Support</h3>
          <p>
            Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet
            velit. Aliquam vulputate.
          </p>
        </div>
      </div>

      <div class="col-6 col-md-6 col-lg-3 mb-4">
        <div class="feature">
          <div class="icon">
            <img src={% static "images/finance-accounts.png" %} alt="Image"
            class="imf-fluid" />
          </div>
          <h3>Hassle Free Returns</h3>
          <p>
            Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet
            velit. Aliquam vulputate.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Why Choose Us Section -->

{% endblock body %}
